{% load bootstrap5 %}

<!DOCTYPE html>
<html>
<head>
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <title>{% block title %}{% endblock title %}</title>
</head>
<body>
  <nav class="navbar navbar-expand navbar-dark bg-dark"> 
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Family app</a>
      {% if request.user.is_authenticated %}
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if section == "dashboard" %}text-success{% endif %}" 
               href="{% url "dashboard" %}">My dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if section == "tasks" %}text-success{% endif %}" href="#">Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if section == "family" %}text-success{% endif %}" 
               href="{% url "family" %}">Family</a>
          </li>
        </ul>
      {% endif %}
      <div class="navbar-nav">
        {% if request.user.is_authenticated %}
          Hello {{ request.user.first_name }},
          <a class="nav-link" href="{% url "logout" %}">Logout</a>
        {% else %}
          <a class="nav-link" href="{% url "register" %}">Register</a>
          <a class="nav-link" href="{% url "login" %}">Log-in</a>
        {% endif %}
      </div>
    </div>
  </nav>
  <div class="container">
    {% bootstrap_messages %}
  </div>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>                        

