{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %}Log-in{% endblock %}

{% block content %}

  <h1>Log-in</h1>
  {% if form.errors %}
    <p>Your username and password didn't match.
      Please try again</p>
  {% else %}
    <p>Please, use the following form to log-in:</p>
  {% endif %}
  <form action="{% url 'login' %}" method="post" novalidate>
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% bootstrap_form form %}
    
    <input type="hidden" name="next" value="{{ next }}" />

    {% buttons submit='Log-in' reset="Cancel" %}{% endbuttons %}
  </form>
{% endblock %}
