{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %}Log-in{% endblock %}

{% block content %}

  <h1>Log-in</h1>
   <p>Please, use the following form to log-in. If you don't have
      an account <a href="{% url "register" %}">register here</a></p>
  <form action="{% url 'login' %}" method="post" novalidate>
    {% csrf_token %}
    {% bootstrap_form form %}
    
    <input type="hidden" name="next" value="{{ next }}" />

    {% buttons submit='Log-in' reset="Cancel" %}{% endbuttons %}
  </form>
{% endblock %}
